In [1]:
print("Hello,sir")

Hello,sir

Q1. Create one variable containing following type of data

In [2]:
#1.String

In [3]:
a=("Brain")

In [4]:
type(a)

str

In [5]:
#2.List

In [6]:
b=[1,2,3,4,5]

In [7]:
type(b)

list

In [8]:
#3.Float

In [9]:
c=(32.453)

In [10]:
type(c)

float

In [11]:
#4.Tuple

In [12]:
d=(9, 'Hi', 89.10 , [3,2,7])

In [13]:
type(d)

tuple

Q2. Given are some following variables containing data:

In [14]:
#1.var1

In [15]:
var1=''

In [16]:
type(var1)

str

In [17]:
#2.var2

In [18]:
var2='[DS ,ML , Python]'

In [19]:
type(var2)

str

In [20]:
#3.var3

In [21]:
var3=[ 'DS' , 'ML' , 'Pyhton' ]

In [22]:
type(var3)

list

In [23]:
#4.var4

In [24]:
var4=1.

In [25]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

#1.- "/" This is a function of arthemtic operation and called as  true division. 
     For Example:

In [26]:
6

6

In [27]:
3

3

In [28]:
print(6/3)

2.0

#2- "%" This operation is also used for divsion and displays the reminder of two numbers. it is called as modulo operator

In [29]:
#For Example:

In [30]:
c=50

In [31]:
d=100

In [32]:
print(c%d)

50

#3. - "//" This is called for integer divsion. we use this operation to obtain result between two integer.

In [33]:
#For Example:

In [34]:
e=8

In [35]:
f=4

In [36]:
print(e//f)

2

#4.- "**" This operator gives power to the first number that will be multiplied by the second number

In [37]:
#For Example

In [38]:
j=5

In [39]:
k=3

In [40]:
print(j**k)

125

 Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [41]:
o= [0o7, 24, "cause", "DS", 34.56, 13.09, 3+6j, 4-7j, 1+1, -0.69]

In [42]:
for h in o:
    print(h)
    print(type(h))

7
<class 'int'>
24
<class 'int'>
cause
<class 'str'>
DS
<class 'str'>
34.56
<class 'float'>
13.09
<class 'float'>
(3+6j)
<class 'complex'>
(4-7j)
<class 'complex'>
2
<class 'int'>
-0.69
<class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [44]:
A=int(input(60))
B=int(input(20))
C=int(input(0))
    
while A%B==0:
    A/=B
    C +=1
if c>0:
        print(f"{A} is divisble by {B} and can be divided {C} times.")
else:
    print(f"{A} is not divisible by {B}.")

60 20
20 60
0 3

20 is divisble by 60 and can be divided 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [45]:
list=[1,3,-4,5,7,9,-11,12,-14,16,+18,-20,22,23,25,27,29,-729,-0o450,13,143,7098,831,144,65]
for i in list:
    if i%3==0:
        print(i,"is divisble by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
3 is divisble by 3
-4 is not divisible by 3
5 is not divisible by 3
7 is not divisible by 3
9 is divisble by 3
-11 is not divisible by 3
12 is divisble by 3
-14 is not divisible by 3
16 is not divisible by 3
18 is divisble by 3
-20 is not divisible by 3
22 is not divisible by 3
23 is not divisible by 3
25 is not divisible by 3
27 is divisble by 3
29 is not divisible by 3
-729 is divisble by 3
-296 is not divisible by 3
13 is not divisible by 3
143 is not divisible by 3
7098 is divisble by 3
831 is divisble by 3
144 is divisble by 3
65 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1].Mutable Data Type: It is a type of data in which value of particular data can be changed in a data type.
                 This mutablilty ability of data is seen in the data type:List, Sets.

For Example:

In [46]:
T=[1,2,3,4,5,'pwskills']

In [47]:
T[3]

4

In [48]:
T[3]=6

In [49]:
T

[1, 2, 3, 6, 5, 'pwskills']

2].Immutable Data Type: It is type of which value of partcular data cannot bem changed in a data type.
                        This type of immutable data type is seen in the data type:String,Float

For Example:

In [50]:
s='snopdog'
s[2]=4

TypeError: 'str' object does not support item assignment

In [51]:
print("Thank you, sir")

Thank you, sir

In [52]:
print("\n------------------------------------------------------------------------------------------------------------------------------------------\n")

------------------------------------------------------------------------------------------------------------------------------------------